html,body{
    height: 100%
}
body {
	padding-top: 70px;
}
.footer a {
	color: #FFFFFF;
}
.bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#feeds {
    border-right: #151515 solid;
    height: 100%;
}
